.cart-header {
  width: 1154px;
  margin: 0 auto;
  height: 120px;
}

.cart-header .logo {
  margin: 20px 0 0 -55px;
  float: left;
}

.cart-header .logo img {
  border: none;
  vertical-align: middle;
}

.cart-progress {
  float: right;
  width: 450px;
  text-align: center;
  margin: 45px 0 0;
}

.cart-progress ol li {
  float: left;
  width: 150px;
  display: list-item;
}

.cart-progress ol li h4 {
  font-size: 14px;
  margin: 0 0 9px;
}

.cart-progress ol li .icon_bar {
  display: block;
  width: 150px;
  border: 3px solid #BDBDBD;
}

.cart-progress ol .on .icon_bar {
  border: 3px solid #fc5600;
}

#shopCartFull,
.cart-list {
  border: 1px solid #eaeaea;
}

.cart-list {
  padding: 160px 0;
  text-align: center;
  margin-bottom: 48px;
}

.f_14px {
  font-size: 14px;
}

#shopCartFull {
  width: 1153px;
  margin: 0 auto;
}

#shopCartFull .clt {
  border-bottom: 1px solid #eaeaea;
}

#shopCartFull .icon {
  position: absolute;
  margin: 0 9px -12px 38px;
  top: 26px;
  left: 10px;
  width: 16px;
  height: 16px;
  background: 0 0;
  padding: 0 !important;
  border: 1px solid #777;
}

#shopCartFull .cll .jj input,
#shopCartFull .cll .jj span,
.cspt {
  border: 1px solid #eaeaea;
  float: left;
}

.actived {
  background: url(http://10.31.164.47/my360/src/img/gou.png);
}

#shopCartFull .clt span {
  font-size: 14px;
  color: #777;
  font-weight: 700;
  padding: 24px 0;
  display: block;
  text-align: center;
}

#shopCartFull .clt .cl1 {
  float: left;
  width: 100px;
  position: relative;
}

#shopCartFull .clt .cl1 span {
  text-align: right;
}

#shopCartFull .clt .cl2 {
  float: left;
  padding-left: 48px;
  width: 471px;
}

#shopCartFull .clt .cl2 span {
  text-align: left;
}

#shopCartFull .clt .cl3 {
  float: left;
  width: 140px;
}

#shopCartFull .clt .cl4 {
  float: left;
  width: 160px;
}

#shopCartFull .clt .cl5,
#shopCartFull .clt .cl6 {
  float: left;
  width: 140px;
}

.cspt {
  height: 122px;
  width: 122px;
  margin-right: 18px;
}

.cspp,
.csps {
  display: block;
  margin: 6px 0;
  line-height: 22px;
  font-weight: 500;
  text-decoration: none;
}

.cspp {
  padding-top: 32px;
  color: #333;
  font-size: 14px;
}

.clf strong,
.csps {
  font-size: 14px;
  color: #777;
}

#shopCartFull .cll .icon {
  top: 74px;
}

#shopCartFull .cll span {
  line-height: 122px;
}

#shopCartFull .cll .jj {
  padding: 68px 0;
  margin-left: 20px;
}

#shopCartFull .cll .jj span {
  padding: 0;
  line-height: 33px;
}

#shopCartFull .cll .jj input {
  text-align: center;
}

.clf .t .a2,
.clf strong {
  display: block;
  width: 120px;
  float: right;
}

.cll .cl2 span {
  height: 122px;
}

.clf {
  height: 220px;
  padding: 24px 0;
}

.clf strong {
  line-height: 28px;
  text-align: left;
}

.clf .bst,
.fpr i {
  color: #fc5600;
  font-size: 20px;
  font-weight: 700;
}

.clf .a1 {
  color: #333;
  text-decoration: none;
}

.clf .a1:hover {
  color: #fc5600;
}

.clf div {
  text-align: right;
  line-height: 28px;
  font-size: 14px;
  color: #777;
}

.clf .t .a1 {
  position: relative;
  top: 25px;
}

.clf .t .a2 {
  margin: 12px 24px 0;
  text-decoration: none;
  font-size: 18px;
  padding: 0 32px;
  border: none;
  height: 48px;
  line-height: 48px;
  background-color: #fc5600;
  color: #fff !important;
  text-align: center;
}

footer .guide .last,
footer .guide li,
footer .service li {
  border-right: 1px solid #eaeaea;
}

.clf .t .a2:hover {
  background: #ff7730;
}

footer {
  height: auto !important;
}

footer .service {
  width: 1154px;
  overflow: hidden;
  margin: 72px auto 48px;
}

footer ul {
  padding-left: 0;
  width: 1156px;
  margin-bottom: 0;
}

footer .service li {
  width: 228px;
  float: left;
  padding: 24px 0 24px 60px;
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

footer .icon-img {
  width: 53px;
  height: 53px;
  overflow: hidden;
  display: block;
  float: left;
}

.nie-cn-logo,
.nie-cn-logo a,
.nie-cn-nav {
  display: inline-block;
}

h1 {
  font-size: 24px;
}

#shopCartEmpty {
  border: none;
}

#shopCartEmpty img {
  position: relative;
  right: 200px;
  top: 0px;
}

#shopCartEmpty .list-empty {
  position: relative;
  color: #BEBEBE;
  font-size: 28px;
  top: -120px;
  left: 180px;
}

#shopCartEmpty .list-empty a {
  display: block;
  position: absolute;
  color: #fff;
  font-size: 20px;
  top: 70px;
  right: 780px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  background: #FC673E;
  text-align: center;
}
