#gotop {
  background: #e3e4e5;
}

#gotop ul li {
  height: 36px;
  float: left;
}

#gotop ul li a {
  font-size: 12px;
  color: #999;
}

#gotop ul li a:hover {
  color: #23ac38;
}

#gotop ul .leftitem {
  display: inline-block;
  margin: 0 10px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
}

#gotop ul .rightitem {
  float: right;
  margin: 0 10px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
}

#gotop ul .rightitem .loginbefore a {
  display: inline-block;
  margin: 0 10px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
}

#gotop ul .codebtn {
  position: relative;
  margin: 0;
}

#gotop ul .codebtn .telshop {
  display: inline-block;
  margin: 0 10px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  padding-left: 26px;
  font-size: 12px;
  color: #999;
}

#gotop ul .codebtn .telshop:hover {
  color: #23ac38;
}

#gotop ul .codebtn .codebox {
  position: absolute;
  right: 0;
  top: 36px;
  z-index: 95;
  background: #fff;
}

.codeimgbox {
  border: 1px #ccc solid;
  padding: 5px;
}

.codeimgbox img {
  width: 60px !important;
}

.top-container .header-logo {
  float: left;
}

.top-container .header-tools {
  float: left;
  padding: 30px 0 0 200px;
  width: 740px;
  box-sizing: content-box;
}

.top-container .header-tools .suggest-box {
  float: left;
}

.top-container .header-tools .suggest-box #__mall_search_form__ #__mall_search_kw__ {
  width: 434px;
  height: 40px;
  padding: 0 14px;
  line-height: 40px;
  border: 1px solid #23ac38;
  outline: 0;
  vertical-align: top;
}

.top-container .header-tools .suggest-box #__mall_search_form__ #__mall_search_btn__ {
  width: 72px;
  height: 40px;
  background: #23ac38 no-repeat 24px -110px;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.top-container .header-tools .suggest-box p {
  margin-top: 9px;
}

.top-container .header-tools .suggest-box p a {
  margin-right: 10px;
  color: #848484;
  font-size: 12px;
}

.top-container .header-tools .topshopcart {
  float: right;
  position: relative;
  padding: 0;
}

.top-container .header-tools .topshopcart .header-cart {
  display: inline-block;
  width: 156px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f9f9f9;
  color: #363636;
  border: 1px solid #ddd;
  font-size: 12px;
}

.navbox ul {
  width: 779px;
  padding: 0;
}

.navbox ul .top-item {
  float: left;
  padding: 0 12px;
  line-height: 37px;
  text-align: left;
}

.navbox ul .top-item a {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: #323334;
}

.navbox ul .top-item a:hover {
  color: #23ac38;
}

.navbox ul .ntopfirst {
  width: 210px;
  padding: 0;
  margin-right: 26px;
  background-color: #363636;
  float: left;
  line-height: 37px;
  text-align: left;
}

.navbox ul .ntopfirst a {
  position: relative;
  padding-left: 36px;
  margin-left: 30px;
  color: #fff;
}

.navbox ul .ntopfirst a:hover {
  color: #fff;
}

.bz {
  position: relative;
  top: -20px;
}

.bz .side-category {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -620px;
  color: #fff;
  z-index: 100;
  height: 100%;
}

.bz .side-category .categorylist {
  background: rgba(255, 255, 255, 0.85);
  width: 210px;
  height: 100%;
}

.bz .side-category .categorylist .sub-item {
  font-size: 0;
  height: 56px;
  line-height: 56px;
  display: block;
  position: relative;
  padding-left: 36px;
  margin-left: 30px;
  font-size: 15px;
}

.bz .side-category .categorylist .sub-item a {
  color: #1b1b1b;
}

.slideBox {
  width: 1920px;
  height: 448px;
  border: 1px solid orange;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

.pic_list {
  position: absolute;
  left: 0px;
  top: 0px;
}

.pic_list li {
  float: left;
  width: 1920px;
  height: 448px;
}

.pic_list li img {
  display: block;
  width: 100%;
  height: 448px;
}

.slideBox ol {
  position: absolute;
  right: 1050px;
  bottom: 10px;
  z-index: 10;
}

.slideBox ol li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  float: left;
  text-indent: -999em;
  margin-right: 5px;
  cursor: pointer;
}

.slideBox ol li.active {
  background: rgba(255, 255, 255, 0.9) !important;
}

#btn_left,
#btn_right {
  font-size: 80px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  display: none;
}

#btn_left {
  left: 20px;
}

#btn_right {
  right: 20px;
}

.part-hot {
  height: 220px !important;
}

.mod-hd {
  position: relative;
  height: 50px;
}

.mod-hd h2 {
  font-size: 22px;
  line-height: 50px;
  font-weight: 400;
}

.mod-hd .hot-list {
  margin-bottom: -10px;
}

.mod-hd .hot-list li {
  box-sizing: content-box;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 10px 30px;
  width: 343px;
  height: 140px;
  overflow: hidden;
}

.mod-hd .hot-list li a {
  text-decoration: none;
  color: #666;
  outline: none;
  display: block;
}

.mod-hd .hot-list li a .prd-detail {
  float: left;
  width: 203px;
  padding-top: 30px;
}

.mod-hd .hot-list li a .prd-detail .name {
  font-size: 18px;
  color: #fff;
  display: block;
  height: 46px;
  line-height: 46px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mod-hd .hot-list li a .prd-detail .price {
  font-size: 18px;
  color: #fefe00;
}

.mod-hd .hot-list li a .imgbox {
  zoom: 1;
  overflow: hidden;
}

.mod-hd .hot-list li a .imgbox img {
  width: 140px;
}

.mod-hd .hot-list .first {
  background: linear-gradient(90deg, #e45f61, #ff8183);
}

.mod-hd .hot-list .two {
  background: linear-gradient(90deg, #ff9c0a, #fed23d);
}

.mod-hd .hot-list .three {
  background: linear-gradient(90deg, #03bad5, #33d9f2);
  margin-right: 0;
}

.cheng {
  width: 100%;
  height: 950px;
}

.cheng img {
  width: 100%;
}

.cheng1 {
  width: 100%;
  height: 1610px;
}

.cheng1 img {
  width: 100%;
}

.bottom-nub {
  width: 100%;
}

.bottom-nub img {
  width: 100%;
}

#modal-overlay,
.huibg {
  width: 100%;
  height: 100%;
}

.topbar-drop li {
  margin-top: 10px;
}

.topbar-drop a {
  color: #333;
}

.topbar-drop a:hover {
  color: #fc5600;
}

nav .welcome {
  margin-left: 48px;
  display: block;
  float: left;
  line-height: 30px;
}

nav .welcome a {
  margin-left: 18px;
  color: #333;
}

nav .welcome a:hover {
  color: #fc5600;
}

#modal-overlay {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1000;
}

.huibg {
  position: absolute;
  background-color: #333;
  opacity: .6;
}

#modal-overlay .modal-data {
  display: block;
  visibility: inherit;
  margin-left: -180px;
  margin-top: -233px;
  position: fixed;
  background: #fff;
  border: 1px solid #D5D5D5;
  left: 50%;
  top: 50%;
  z-index: 500;
  max-width: 960px;
  opacity: 1 !important;
}

#modal-overlay1 .modal-data {
  display: block;
  visibility: inherit;
  margin-left: -180px;
  margin-top: -233px;
  position: fixed;
  background: #fff;
  border: 1px solid #D5D5D5;
  left: 50%;
  top: 50%;
  z-index: 500;
  max-width: 960px;
  opacity: 1 !important;
}

.popup-cont {
  padding: 30px;
  height: 200px;
  width: 300px;
  margin: 0 auto;
  box-sizing: content-box;
  position: relative;
}

.doclose {
  background: #fff;
  height: 42px;
  position: absolute;
  left: 360px;
  z-index: 2000;
}

.doclose span {
  display: block;
  float: left;
  font-size: 14px;
  height: 42px;
  line-height: 42px;
  padding: 0 12px;
}

.doclose a {
  position: absolute;
  top: 2px;
  right: 13px;
  font-size: 22px !important;
  color: #999;
}

.j-headimg {
  padding: 0 0 17px;
}

.popup-cont .active {
  height: 38px;
  line-height: 38px;
  width: 49.9% !important;
  float: left;
  color: #8d8d8d;
  border-bottom: solid 2px #ccc;
}

.j-head {
  font-size: 18px;
  border-bottom: solid 2px #23b260;
  color: #000;
}

#account-box {
  padding-left: 44px;
  padding-right: 44px;
  font-size: 12px;
  line-height: 44px;
  position: relative;
  border: 1px solid #c5cddb;
  outline: #23b260;
  margin-bottom: 20px;
}

#account-box .u-logo {
  float: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  text-align: center;
  padding: 0 5px 0 10px;
  line-height: 44px;
  z-index: 10;
}

#dun,
#lianjie,
.forget {
  float: left;
}

#ren,
#suo {
  display: inline-block;
  width: 22px;
  height: 24px;
  margin-top: 10px;
}

#anquan,
#other,
.otherlog {
  text-align: left;
}

#dodenglu,
.miandenglu,
.othera,
.otherlog,
.twocode,
nav .user-entry:hover .head {
  display: block;
}

#account-box input {
  width: 100% !important;
  height: 44px;
  line-height: 44px;
  color: #333;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
  padding: 1px 0;
  outline: 0;
}

#account-box input::placeholder {
  color: #bbb;
}

#dun {
  width: 20px;
  height: 16px;
  background: url(../index_img/webzj_gjlogo2.png) no-repeat !important;
}

#lianjie {
  margin-left: 10px;
}

#anquan a {
  color: #4aafe9;
}

#dodenglu {
  cursor: default;
  color: #FFF !important;
  background: #36b447;
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 18px !important;
  border: none;
  cursor: pointer;
}

.forget,
.goreg {
  color: #999;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}

#findpsd {
  float: right;
  position: relative;
  top: -37px;
}

#lopho {
  font-size: 12px;
  color: #999;
}

#pho-reg {
  color: #36b447;
  border: none;
  margin-left: 100px;
}

#modal-overlay1 {
  height: 100%;
  width: 100%;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1000;
}

#modal-overlay1 input:focus {
  outline: none;
}

#modal-overlay1 .huibg {
  width: 100%;
}

#modal-overlay1 .modal-data {
  background: url(../img/zhuce.png) center center no-repeat !important;
  background-size: 450px 483px !important;
  display: block;
  visibility: inherit;
  margin-left: -240px;
  margin-top: -233px;
  position: fixed;
  border: 1px solid #D5D5D5;
  left: 50%;
  top: 50%;
  z-index: 500;
  max-width: 960px;
  opacity: 1 !important;
}

#modal-overlay1 .popup-cont {
  width: 380px !important;
  height: 380px;
}

#modal-overlay1 .doclose {
  opacity: 0;
  position: relative;
  left: 0px;
  top: 5px;
}

#modal-overlay1 .doclose a {
  font-size: 28px !important;
}

#modal-overlay1 #inpt-phone {
  position: absolute;
  width: 300px;
  height: 40px;
  padding: 10px;
  top: 52px;
  left: 83px;
  border: 0;
}

#modal-overlay1 .yanzhenma {
  position: absolute;
  width: 125px;
  height: 40px;
  padding: 10px;
  top: 115px;
  left: 83px;
  border: 0;
}

#modal-overlay1 #inpt-sms {
  position: absolute;
  width: 178px;
  height: 40px;
  padding: 10px;
  top: 177px;
  left: 83px;
  border: 0;
}

#modal-overlay1 #inpt-pw {
  position: absolute;
  width: 300px;
  height: 40px;
  padding: 10px;
  top: 240px;
  left: 83px;
  border: 0;
}

#modal-overlay1 #getps {
  display: block;
  width: 120px;
  height: 40px;
  background: #fafafa;
  position: absolute;
  top: 177px;
  left: 264px;
  line-height: 40px;
  color: #36b447;
}

#modal-overlay1 #ckagree {
  position: absolute;
  top: 305px;
  left: 51px;
  z-index: 3000;
}

#modal-overlay1 #reg-btn {
  display: block;
  width: 330px;
  height: 40px;
  background: green;
  position: absolute;
  top: 330px;
  left: 55px;
  line-height: 40px;
  border-color: #36b447;
  background-color: #36b447;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

#modal-overlay1 .phone-wenti {
  position: absolute;
  left: 53px;
  top: 97px;
  font-size: 10px;
}

#modal-overlay1 .ps-wenti {
  position: absolute;
  left: 53px;
  top: 285px;
  font-size: 10px;
}
